
#contact{

  height: 100%;

  background: $black;
  #contact-us{
    color:$white;
    min-height: 400px;
    margin-top: 100px;
    h1{
      // opacity: 0;
      animation-duration: 1.5s;
      position: relative;
      display: inline-block;
      div{
        opacity: 0;
        animation-duration: 1.5s;
        animation-delay: 1.5s;
        height: 1px;
        margin-top: 25px;
        // @include blur(1px);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        // border:1px solid $color1;
        background-image: linear-gradient(to left,transparent, $grey, transparent);

      }
  }



    #form-kolumna{
      opacity: 0;
      border-radius: 2px;

    }
    #row-kontakt{
      display: none;
    }

      #dane-kontakt{
      // opacity: 0;
      min-height: 300px;
      border-left: solid 3px $white;

    }
    #ajax-contact{
      // opacity: 0;
      padding: 10px 5px;
      position: relative;
      min-height: 300px;

      label{
      color:$grey-dark !important;
    }
    input{
      width:100%;
    }
    input[name=body]{
      min-height: 100px;
    }
    textarea{
      width: 100%;
    }
    #form-cv,#motivation-letter{
      display: none;
    }
    .btn-primary{
      color: $white !important;
      top: initial;
      border-radius: 3px;
      margin-top: 25px;
      padding:6px 1px;
      font-size: 100%;
      text-transform: none;
      &:hover{
        color: $black !important;
        @include transition-all(0.6s);
      }
    }
    select{
      background: $color1;
      padding: 5px;
      margin-left: 15px;
      text-transform: uppercase;

      option{
        cursor: pointer;
        color: $grey;
        display: block;
        padding: 5px;
        &:focus,&:active,&:checked{
          border-bottom: solid 2px $white;
          background: linear-gradient($color1-dark,$color1-dark);
          letter-spacing: 3px;
          font-size: 1.15em;
          color: $white;
        }
        &:hover{
          border-bottom: solid 2px $white;
          letter-spacing: 3px;
          @include transition-all(0.3s);
        }

      }
        .activated{
          border-bottom: solid 2px $white;
          background: linear-gradient($color1-dark,$color1-dark) !important;
          letter-spacing: 3px;
          font-size: 1.15em;
          color: $white !important;
      }

    }
  }


  #kontakt-img{
    padding-top:100px;
    position: relative;
    min-height: 300px;
    background-image: linear-gradient(rgba(255, 255,255, 0.8),rgba(255, 255, 255, 0.6)), url(img/kontaktbg.jpg);;
    background-size:cover;
    background-position: 40% 60%;
    background-attachment: fixed;
    h1{
      font-size: 310%;
      font-weight: 500;
      margin-top: 50px;
      margin-bottom: auto;
      color:$white;
      letter-spacing: 5px;
      // @include whiteBgBlur(0.3);
    }
  }
  #google-maps-kontakt{
    min-height: 500px;

  }
  #map{
    height: 700px;
    width: 100%;
    overflow: initial;
  #content{
    font-family: $font-family-primary;
    line-height: 1px;
    width: 200px;
    height: 220px;
    color: $black;
    font-size: 90%;
    h1{
      top:-17px;
      left: 0;
      width: 200px;

    }
    .logger-tekst{
      font-weight: 600;
      display: inline-block;
      position: relative;
      top: 0;
      font-size: 1.25em;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 5px;
    }
    img{
      position: absolute;
      top: 0;
      height: 40px;
    }
    #dane-kontaktowe{
      text-align: center;
      line-height: 1px;
      margin-top: 0;

      p{
        line-height: 1px;
      }
      a{
        font-size: 124%;
        white-space: nowrap;
      }
    }


  }
}
}
  .google-maps {
    padding-top:100px;
      position: relative;
      bottom: 0;
      padding-bottom: 0; // This is the aspect ratio
      min-height: 500px;
      overflow: hidden;
      margin-bottom:0;
  }
  .google-maps iframe {
      position: absolute;
      left: 0;
      right:0;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      width: 100% !important;
  }


}
